.ajoutFiltreConteneur .filtreConteneurGlobal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ajoutFiltreConteneur .carteFiltre {
    background-color: white;
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.ajoutFiltreConteneur .filtreConteneur {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.ajoutFiltreConteneur .ajouterFiltre {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
}

.ajoutFiltreConteneur .filtre {
    display: flex;
}

.ajoutFiltreConteneur .ajouterFiltre .action {
    display: flex;
}

.ajoutFiltreConteneur .filtreDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ajoutFiltreConteneur .datePicker {
    display: flex;
    justify-content: center;
}

.ajoutFiltreConteneur .dateDebut, .ajoutFiltreConteneur .dateFin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}