.cadreFiltreConteneurGlobal {
    background-color: rgba(0, 0, 0, 0.324);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    animation: noir 1s ease forwards;
}

.ajoutRemplisseurFiltreConteneur {
    flex: 1;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.ajoutRemplisseurFiltreConteneur .carteFiltre {
    background-color: white;
    box-shadow: 1px 1px 5px rgb(181, 181, 181);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.ajoutRemplisseurFiltreConteneur .filtreConteneurGlobal {
    animation: arrive 1s ease forwards;
    background-color: white;
    width: 800px;
    height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ajoutRemplisseurFiltreConteneur .filtreConteneur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.ajoutRemplisseurFiltreConteneur .ajouterFiltre {
    display: flex;
    align-items: center;
}

.ajoutRemplisseurFiltreConteneur .filtreDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ajoutRemplisseurFiltreConteneur .datePicker {
    display: flex;
    justify-content: center;
}

.ajoutRemplisseurFiltreConteneur .dateDebut, .ajoutRemplisseurFiltreConteneur .dateFin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ajoutRemplisseurFiltreConteneur .filtre {
    display: flex;
}

.ajoutRemplisseurFiltreConteneur .tableauFiltre {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.ajoutRemplisseurFiltreConteneur .nomRemplissage {
    display: flex;
    align-items: center;
    width: 100%;
}

.ajoutRemplisseurFiltreConteneur .bas {
    display: flex;
    align-items: center;
}

.ajoutRemplisseurFiltreConteneur .carteRemplissage {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0;
}

@keyframes arrive {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes noir {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.277);
    }
}