.presentationConteneur {
    display: flex;
    justify-content: center;
}

.presentationConteneur img {
    max-width: 100%;
    height: auto;
}

.presentationConteneur .videoConteneur {
    max-width: 100%;
    height: auto;
}

.presentationConteneur .boutonCommencer {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-color: rgb(8, 0, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s;
}

.presentationConteneur .conteneurSection {
    display: flex;
    flex-direction: column;
}

.presentationConteneur .section1 {
    display: flex;
}

.presentationConteneur .section1 .case1 .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    height: 550px;
}

.presentationConteneur .section1 h1 {
    color: #2e4857;
    font-size: 4rem;
    margin-right: 50px;
}

.presentationConteneur .section1 p {
    color: #767f98;
}

.presentationConteneur .loupe {
    margin: 0 10vw;
}

.presentationConteneur .paragraphe {
    margin: 0 10vw;
}

.presentationConteneur .case2 {
    margin: 0 10vw;
}

@media screen and (min-width: 1400px) {
    
    .presentationConteneur .section1 .boutonCommencerDiv {
        flex-direction: column;
    }

    .presentationConteneur .sousParagraphe {
        max-width: 600px;
    }

}

@media screen and (max-width: 1400px) {
    
    .presentationConteneur .section1 {
        flex-direction: column;
    }

    .presentationConteneur .case1 {
        margin: 5vh 10vw;
    }
    
    .presentationConteneur .case2 {
        margin: 5vh 10vw;
    }

}

@media screen and (max-width: 600px) {

    .presentationConteneur {
        
    }

    .presentationConteneur .section1 .boutonCommencerDiv {
        display: flex;
        justify-content: start;
    }

    .presentationConteneur .section1 h1 {
        margin-right: 0;
    }

    .presentationConteneur .sousParagraphe {
       width: 100%;
    }
    
    .presentationConteneur .section1 {
        flex-direction: column;
    }

    .presentationConteneur .paragraphe {
        text-align: center;
    }

    .presentationConteneur .boutonCommencerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .presentationConteneur .loupe {
        display: flex;
        justify-content: start;
    }
}
