.titreConteneur {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets/fondLignePoint.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 100px;
}

.titreConteneur::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -205px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

/* ==================== VIDEO ==================== */

.titreConteneur .videoConteneur {
    border-radius: 50px;
    height: 480px;
    background-color: #bbcaff55;
    padding: 30px;
}

.titreConteneur .bordureVideo {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: #1744df;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreConteneur .videoBordure {
    width: 150px;
    height: 150px;
    background-color: #2454ff;
    padding: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreConteneur .videoRond {
    width: 100%;
    height: 100%;
    background-color: #426bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreConteneur .videoTriangle {
    width: 50px;
    height: 50px;
    background-color: white;
}

/* ==================== INFORMATION ==================== */

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 900px;
}


.centralisation {
    padding: 25px 0;
}

.paragraphe {
    max-width: 800px;
}

.titreH1 {
    position: relative;
    max-width: 800px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titreConteneur h1 {
    color: #2e4857;
    font-size: 4rem;
}

.boutonCommencerDiv {
    display: flex;
    justify-content: center;
}

.boutonCommencer {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    background-color: rgb(8, 0, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s;
}

.boutonCommencer:hover {
    filter: brightness(125%);
}

.boutonCommencer:active {
    filter: brightness(150%);
}