.conteneurMorningRoutine {
    box-shadow: 0 0 10px rgb(233, 233, 233);
    border-radius: 1vh;
    padding: 3vh;
}

.conteneurMorningRoutine p.morningTitre {
    color: #2e4857;
}

.conteneurMorningRoutine .carte {
    display: flex;
    align-items: center;
}

.conteneurMorningRoutine .carte p {
    font-weight: 600;
}

.conteneurMorningRoutine .carte .rond {
    height: 3vh;
    width: 3vh;
    border: 1px solid #00c957;
    border-radius: 50%;
    margin: 1vh 1vh 1vh 0;
}