.takeControlConteneurPrice {
    background-color: white;
    background-image: url('../../Assets/fondQuadrillage.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    height: 100vh;
}

.takeControlConteneurPrice .secondConteneur {
    width: 100%;
}

.takeControlConteneurPrice .secondConteneur .titre {
    max-width: 500px;
    margin-bottom: 50px;
}

.takeControlConteneurPrice .secondConteneur h3 {
    font-size: 4rem;
    color: white;
}

.takeControlConteneurPrice .secondConteneur .boutonCommencer {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}