h3 {
    margin: 20px 0;
    font-size: 2rem;
}

.actionsTrade {
    display: flex;
    align-items: center;
}

.selecteurRecuperation {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
}

.ligneTrade {
    background-color: white;
    cursor: pointer;
}

.ligneTrade:hover td {
    background-color: aliceblue;
}

tfoot tr {
    display: flex;
    align-items: center;
}

.donnee-table {
    border-collapse: collapse;
    width: 100%;
}

.donnee-table th, .donnee-table td {
padding: 8px;
text-align: left;
}

.donnee-table th {
}

.donnee {
    display: flex;
}

.donnee .valeur {
    margin: 10px;
}

.filtreInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.IT {
    display: flex;
    align-items: center;
}

.filtreInput {
    display: block;
}

.description {
    display: flex;
    flex-direction: column;
}

.actionTradeIndividuel, .timeFrame {
    display: flex;
}

.tagBlocks {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.tag {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    background-color: white;
}

.taginput {
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
}

.tradConteneur {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.279);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: noir 1s ease forwards;
}

.filtreConteneur {
    width: 900px;
    padding: 20px;
    animation: arrive 0.3s ease forwards;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
}

@keyframes arrive {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes noir {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.277);
    }
}