h3 {
    margin: 20px 0;
    font-size: 2rem;
}

.actionsTrade {
    display: flex;
    align-items: center;
}

.selecteurRecuperation {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid black;
    width: 100%;
}

.tradConteneur {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
}

.donnee {
    display: flex;
}

.donnee .valeur {
    margin: 10px;
}

.filtreInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.IT {
    display: flex;
    align-items: center;
}

.filtreInput {
    display: block;
}

.description {
    display: flex;
    flex-direction: column;
}

.actionTradeIndividuel, .timeFrame {
    display: flex;
}

.tagBlocks {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.tag {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    background-color: white;
}

.taginput {
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
}