.conteneurProfil {
    box-sizing: border-box;
    padding: 5vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.conteneurProfil .secondConteneur img {
    margin: 1vh 0 5vh 0;
}

.conteneurProfil .secondConteneur {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
}

.conteneurProfil .droite {
    width: 100%;
    box-sizing: border-box;
    flex: 5;
}

.conteneurProfil .gauche {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}

.conteneurProfil .deconnexionDiv {
    background-color: white;
    box-shadow: 1vh 1vh 50px rgb(200, 200, 200);
    padding: 2vh;
    border-radius: 2vh;
}

.conteneurProfil .deconnexionDiv p {
    font-size: 1.2rem;
    font-weight: 700;
}

.conteneurProfil .deconnexionDiv button {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    outline: none;
    background-color: white;
    color: #2e4857;
}

.sectionProfil {
    display: flex;
    flex-direction: column;
}

.journalSection {
    display: flex;
    align-items: center;
}

.journalStatistique {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.conteneurProfil .barreLateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 2vh 0 0;
}

.conteneurProfil .barreLateral .interieurButton button {
    width: 100%;
    margin: 1vh 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    text-align: start;
}

.conteneurProfil .barreLateral .hautButton button {
    width: 100%;
    margin: 0 0 1vh 0;
    font-family: 'Roboto', sans-serif;
    text-align: start;
    letter-spacing: 1px;
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.conteneurProfil .barreLateral .basButton button {
    width: 100%;
    margin: 1vh 0 0 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 2vh;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    text-align: start;
}

.conteneurProfil .barreLateral .selected-button {
    background-color: rgb(8, 0, 255);
    color: rgb(255, 255, 255);
}

.conteneurProfil .barreLateral .normal-button {
    color: black;
    background-color: rgb(179, 255, 0);
}

/* ========== DROITE ==========*/

.conteneurProfil .droite {
    box-sizing: border-box;
    padding: 0 0 0 2vh;
}