.conteneurProfil {
    box-sizing: border-box;
    padding: 0 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.conteneurProfil .secondConteneur {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.conteneurProfil .droite {
    width: 100%;
}

.deconnexion {
    transition: all 0.3s;
    color: rgb(255, 255, 255);
    background-color: rgb(222, 21, 21);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1.5vh 2vw;
    margin-top: 20px;
    cursor: pointer;
}

.deconnexion:hover {
    filter: brightness(110%);
    scale: 105%;
}

.sectionProfil {
    display: flex;
    flex-direction: column;
}

.journalSection {
    display: flex;
    align-items: center;
}

.journalStatistique {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.conteneurProfil .barreLateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 2vh 0 0;
}

.conteneurProfil .barreLateral .interieurButton button {
    width: 100%;
    margin: 1vh 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.conteneurProfil .barreLateral .selected-button {
    background-color: rgb(8, 0, 255);
    color: rgb(255, 255, 255);
}

.conteneurProfil .barreLateral .normal-button {
    color: black;
    background-color: rgb(179, 255, 0);
}

.conteneurProfil .barreLateral .hautButton button {
    width: 100%;
    margin: 0 0 1vh 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.conteneurProfil .barreLateral .basButton button {
    width: 100%;
    margin: 1vh 0 0 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 1.7vh 2vw;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.7vw;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

/* ========== DROITE ==========*/

.conteneurProfil .droite {
    box-sizing: border-box;
    padding: 0 0 0 2vh;
}