
.tradConteneurConsultation {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

.actionInput {
    display: flex;
    align-items: center;
}

.tradConteneurConsultation:hover {
    filter: brightness(90%);
}

.tradConteneurConsultation:active {
    filter: brightness(80%);
}

.carteConsultation {
    overflow-x: scroll;
}

.cadreConsultation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.279);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: noir 1s ease forwards;
}

.contenuMontreConsultation {
    animation: arrive 0.3s ease forwards;
    width: 90vw;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenuMontreConsultation .info {
    margin-bottom: 20px;
    display: flex;
}

.contenuMontreConsultation .texte {
    background-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
    border-radius: 5px;
    flex: 2;
}

.contenuMontreConsultation .complementaire {
    background-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
    border-radius: 5px;
    flex: 2;
    margin: 0 20px;
}

.contenuMontreConsultation .photo {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 1px 1px rgb(181, 181, 181);
    padding: 20px;
    border-radius: 5px;
    flex: 1;
}

.contenuMontreConsultation .photo {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

td {
    background-color: rgb(255, 255, 255)
}

table {
    border: none; 
}

.pagination {
    display: flex;
    align-items: center;
}

.ligne {
    background-color: white;
}

.ligne:hover {
    background-color: rgb(17, 92, 158);
    cursor: pointer;
}

.tagConteneur {
    display: flex;
    justify-content: start;
    width: 100%;
}

.tagConteneur p {
    margin:  5px 0;
}

.tagInfo {
    display: flex;
    align-items: center;
    padding: 5px;    
}

.tradConteneurConsultation .texte hr {
    margin: 20px 0;
}

@keyframes arrive {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes noir {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.277);
    }
}
  